.list-items {
  padding-bottom: 100px;

  li {
    font-family: 'Playfair Display';
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item {
    &:nth-child(odd) {
      background: rgba($color-third, 0.2);      
      background-size: 100% 100%;
      background-attachment: fixed;
    }

    &-sublist {
      padding-top: 10px;
      list-style: inside disclosure-closed;

      &--outer {
        transition: 0.3s ease-in-out height;
        height: 0;
        overflow: hidden;
      }
    }

    &-box {
      display: flex;
      justify-content: space-between;
    }

    &-expand-btn {
      font-size: 20px;
      width: 1em;
      height: 1em;
      position: relative;
      display: inline-block;

      &--outer {
        position: relative;
        align-self: center;
        right: -15px;
        padding: 12px;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 1em;
        height: .16em;
        top: calc((1em / 2) - .08em);
        background-color: black;
        transition: 0.3s ease-in-out all;
        border-radius: 0.03em;
      }

      &:after {
        transform: rotate(90deg);
      }

      &.collapsed::after {
        transform: rotate(180deg);
      }

      &.collapsed::before {
        transform: rotate(90deg) scale(0);
      }
    }
  }
}
