.about-me-section {
  position: relative;
  min-height: 100vh;

  .title {
    font-family: 'Playfair Display';
    font-size: 28px;
    width: 100%;
    border-bottom: black 2px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .text--outer {
    display: flex;
    flex-direction: column;
  }

  p {
    font-family: 'Playfair Display';
    font-size: 16px;
    margin-bottom: 20px;
  }

  .kiss {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &-outer {
      position: absolute;
      height: 150px;
      width: 200px;
      bottom: 50px;
      right: 20px;
    }
  }

  @media (min-width: 481px) {
    min-height: auto;
    padding-bottom: 100px;
  }
}