@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

.gallery-section {
  width: 100%;
  position: relative;
  min-height: 31.25rem;
  height: 100vh;
  padding: 0;
  
  &-slider {
    width: 100%;
    height: 100%;
    z-index: 1;

    .swiper-slide {
      width: auto;
      height: 100%;

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 0, 0, 0) 0%,
          #0000001c 100%
        );
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: -0.313rem;
    text-align: left;

    &-bullet {
      border-radius: 0;
      width: 1.125rem;
      height: 0.25rem;
      background: #fff;

      &-active {
        background: #fff;
      }
    }
  }

  &-thumbs {
    z-index: 2;
    width: 14.375rem;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 8rem;
    right: 0;

    @include mQ(37.5rem) {
      width: 25rem;
    }

    .swiper-slide {
      width: 6.25rem;
      height: 6.25rem;
      text-align: center;
      overflow: hidden;
      opacity: 0.5;

      &-active {
        opacity: 1;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .bg-image {
        display: none;
      }
    }
  }

  @media (min-width: 769px) {
    &-slider {
      .swiper-slide {
        .image {
          position: relative;
          object-fit: contain;
        }

        .bg-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.2;
        }
      }
    }
  }
}